{
	"env": {
		"mocha": true
	},
	"rules": {
		"no-unused-vars": ["off"],
		"no-new-wrappers": ["off"],
		"no-sync": ["off"],
		"no-undefined": ["off"],
		"dot-notation": ["off"]
	},
	"globals": {
		"assert": true,
		"expect": true,
		"should": true,
		"console": true
	},
	"rules": {
		"no-unused-vars": [ "off" ],
		"no-new-wrappers": [ "off" ],
		"no-process-env" : "off"
	}
}
